@charset "UTF-8";
/* [s]main */
.main {padding: 97px 0 0;}
.main h3 {padding-top: 74px; font-size: 35px; font-weight: 400; line-height: 48px; letter-spacing: -1.6px; font-weight: 300; color: #333;}
.main h3 strong {font-weight: 700;}
.main .btn-link {display: inline-block; text-align: center; border-radius: 2px; box-sizing: border-box;}
.flexslider {position: relative;}
.flexslider .slides li {display:none;}
.flexslider .flex-direction-nav .flex-disabled {display: none;}
.flexslider .flex-direction-nav a {position: absolute;top:50%;display:inline-block;margin-top:-33px;width:41px;height:67px;font-size: 0;line-height: 0;background: url(../img/main_paging.png) no-repeat;}
.flexslider .flex-direction-nav a.flex-prev {left:30px;background-position:0 0;}
.flexslider .flex-direction-nav a.flex-next {right:30px;background-position:-50px 0;}
.flexslider .flex-control-nav {position: absolute;bottom: 40px;text-align: center;width: 100%;}
.flexslider .flex-control-nav li {display: inline-block;}
.flexslider .flex-control-nav li a {display:inline-block;margin:0 5px;width:10px;height:10px;font-size: 0;line-height: 0;background: url(../img/main_paging.png) no-repeat -20px -80px;}
.flexslider .flex-control-nav li a.flex-active {background-position: 0 -80px;}.main .visual1 {padding-top: 223px;height: 624px; text-align: center; background: url(../img/main_visual.jpg) no-repeat 50% 0; box-sizing: border-box; background-size:cover;}
.main .visual1 .txt-s {margin-bottom: -5px; text-indent: 12px; font-size: 20px; font-weight: 300; letter-spacing: -0.5px; color: #fff;}
.main .visual1 .tit-s {margin-bottom: 17px; font-size: 72px; font-weight: 700; color: #fff; letter-spacing: -1.3px;}
.main .visual1 .tit-s span {display: inline-block; margin: 20px -30px 0 0; vertical-align: text-top; font-family: Arial Unicode MS Regular; font-size: 17px; font-weight: 400; letter-spacing: 1px;}
.main .visual1 .btn-link {width: 154px; height: 54px; line-height: 54px; font-size: 16px; color: #fff; border: 1px solid #fff;}

.main-con01 {padding: 0 0 76px; text-align: center;}
.main-con01 ul {margin: 31px auto 0; overflow: hidden; text-align: center; width: 1070px;}
.main-con01 ul li {float: left; margin: 0 0 0 116px; padding-top: 280px; width: 254px; line-height: 23px; font-size: 16px; background: url(../img/main_con01.png) no-repeat;background-size:772px auto;}
.main-con01 ul li.li01 {margin-left: 38px; background-position: 0 0;}
.main-con01 ul li.li02 {background-position: -259px 0;}
.main-con01 ul li.li03 {background-position: -518px 0;}
.main-con01 ul .stit {margin-bottom: 7px; font-weight: 500; color: #333;}
.main-con01 ul .desc {font-weight: 300; color: #b1b1b1; font-size:15px;}
.main-con02 {height: 550px; text-align: center; background: #f3f2f0 url(../img/main_con02.png) no-repeat 50% 0;}
.main-con02 .desc {margin-top: 12px; font-size: 16px; line-height: 25px; font-weight: 300; letter-spacing: -0.7px; color: #888;}
.main-con03 {margin: 0 auto; padding-left: 540px; width: 530px; height: 523px; background: url(../img/main_con03.png) no-repeat 163px 100%; background-size: 359px auto;}
.main-con03 h3 {padding: 137px 0 12px; text-indent: -10px;}
.main-con03 .desc {margin-bottom: 26px; font-size: 15px; line-height: 25px; color: #6e6e6e;}
.main-con03 .desc strong {font-weight: 500; border-bottom: 1px solid #ccc;}
.main-con03 .btn-link {width: 174px; height: 60px; line-height: 60px; font-size: 15px; color: #333; font-weight:500; border: 1px solid #d8d8d8;}
.main-con04 {padding: 0 0 78px; text-align: center; color: #fff; background: #ffaa00;}
.main-con04 h3 {margin-bottom: 16px; line-height: 50px; color: #fff;}
.main-con04 .desc {position: relative; margin-bottom: 26px; padding-top: 21px; font-size: 18px; font-weight: 300;}
.main-con04 .desc strong {font-weight: 500;}
.main-con04 .desc:before {content: ''; position: absolute; top: 0; left: 50%; margin-left: -15px; width: 30px; height: 3px; background: #fff;}
.main-con04 .btn-link {width: 213px; height: 74px; line-height: 74px; font-size: 20px; color: #fff; border: 1px solid #fff;}
/* [e]main */

/* [s]bmcook */
.bmcook {padding: 97px 0 0;}
.bmcook-content {background: #fff;}
.bmcook .visual {position:relative;padding-top: 105px; height: 353px; color: #fff; text-align: center; box-sizing: border-box;}
.bmcook .visual:before {content:'';position:fixed;width:100%;height:353px;left:0;top:97px;background:url(../img/bmcook_visual.jpg) no-repeat 50% 0;background-size: cover;will-change:transform;z-index: -1;}
.bmcook .visual .txt-s {margin-bottom: 8px; font-size: 18px; font-weight: 300; letter-spacing: -0.5px;}
.bmcook .visual .tit-s {font-size: 34px; line-height: 45px; font-weight: 500; letter-spacing: -1.3px;}
.bmcook .bmcook-con01,
.bmcook .bmcook-con03 {margin: 0 auto; padding: 94px 0 0 737px; width: 1030px; background-position: 0 100px; box-sizing: border-box;}
.bmcook .bmcook-con01 {background: url(../img/bmcook-con01.jpg) no-repeat 0 98px;background-size:700px auto;}
.bmcook .bmcook-con01 .line-txt {background: url(../img/bmcook_line01.png) no-repeat 1px 45px;}
.bmcook .bmcook-con02 {background: #f7f7f4;}
.bmcook .bmcook-con02 .con {margin: 0 auto; padding: 98px 0 0; width: 1030px; background: url(../img/bmcook-con02.jpg) no-repeat 330px 98px;background-size:700px auto;}
.bmcook .bmcook-con02 .line-txt {background: url(../img/bmcook_line02.png) no-repeat 0 20px;}
.bmcook .bmcook-con03 {background: url(../img/bmcook-con03.jpg) no-repeat 0 98px;background-size:700px auto;}
.bmcook .bmcook-con03 .line-txt {background: url(../img/bmcook_line03.png) no-repeat 0 45px;}
.bmcook .bmcook-con01,
.bmcook .bmcook-con02,
.bmcook .bmcook-con03 {height: 630px; box-sizing: border-box;}
.bmcook .bmcook-con01 h3,
.bmcook .bmcook-con02 h3,
.bmcook .bmcook-con03 h3 {position: relative; padding: 0 0 34px; font-size: 36px; font-weight: 500; line-height: 46px; letter-spacing: -1.5px; color: #ffaa00;}
.bmcook .bmcook-con01 h3:after,
.bmcook .bmcook-con02 h3:after,
.bmcook .bmcook-con03 h3:after {content: ''; position: absolute; bottom: 0; left: 0; width: 17px; height: 3px; background: #a3a3a3;}
.bmcook .bmcook-con01 p,
.bmcook .bmcook-con02 p,
.bmcook .bmcook-con03 p {margin-top: 25px; font-size: 15px; font-weight: 300; line-height: 25px; letter-spacing: -0.5px; color: #888;}
.bmcook .bmcook-con01 h3 + p,
.bmcook .bmcook-con02 h3 + p,
.bmcook .bmcook-con03 h3 + p {margin-top: 34px;}
.bmcook .bmcook-con04 {overflow:hidden;padding: 96px 0 93px; min-width: 1070px; text-align: center; color: #fff; background: #ffaa00;}
.bmcook .bmcook-con04 h3 {margin-bottom: 17px; font-size: 36px; line-height: 46px; font-weight: 300; letter-spacing: -1.5px;}
.bmcook .bmcook-con04 h3 strong {font-weight: 700;}
.bmcook .bmcook-con04 .btn-link {display: inline-block; margin-bottom: 38px; text-align: center; width: 159px; height: 54px; line-height: 54px; font-size: 16px; color: #fff; border: 1px solid #fff; border-radius: 2px; box-sizing: border-box;}
.bmcook .bmcook-con04 ul {overflow: hidden; margin: 0 auto; padding-left: 84px; width: 1070px; box-sizing: border-box;}
.bmcook .bmcook-con04 ul li {float: left; font-size: 15px; line-height: 25px; font-weight: 300; letter-spacing: -0.5px;}
.bmcook .bmcook-con04 ul li.li01 {width: 261px;}
.bmcook .bmcook-con04 ul li.li02 {width: 386px;}
.bmcook .bmcook-con04 ul li.li03 {width: 267px;}
.bmcook .bmcook-con04 .img-wrap {position: relative; margin: 0 auto; width: 1070px; height: 343px;background:url(../img/bmcook-con04.png) no-repeat 0 251px;background-size:1070px auto;}
.bmcook .bmcook-con04 .img1 {right: 250px; margin-top: 90px;}
.bmcook .bmcook-con04 .img1 img {width: 195px;}
.bmcook .bmcook-con04 .img2 {right: 235px; margin-top: -73px;}
.bmcook .bmcook-con04 .img2 img {width: 426px;}
.bmcook .bmcook-con04 .img3 {left: 0px; margin-top: -10px;}
.bmcook .bmcook-con04 .img3 img {width: 657px;}
.bmcook .bmcook-con04 .img4 {left: 50%; margin-left: -177px; margin-top:4px;}
.bmcook .bmcook-con04 .img4 img {width: 372px;}
.bmcook .bmcook-con04 .img-wrap div {position: absolute;-ms-transition: all 0.75s ease-in-out 0s; -o-transition: all 0.75s ease-in-out 0s; -webkit-transition: all 0.75s ease-in-out 0s; -moz-transition: all 0.75s ease-in-out 0s; transition: all 0.75s ease-in-out 0s;}
.bmcook .bmcook-con04 .img1.expend {right: -68px;}
.bmcook .bmcook-con04 .img2.expend {right: 35px;}
.bmcook .bmcook-con04 .img3.expend {left: -115px;}
/* [e]bmcook */

/* [s]cookingbox */
.schedule {padding-top: 137px; background: #f3f2f0;}
.schedule .wrap {width: 1030px;}
.schedule .content {padding-right: 0;width: 770px;}

.calender {margin-bottom: 20px; border: 1px solid #333; background: #fff;}
.calender .week {overflow: hidden; margin-bottom:6px;padding: 0 9px; background: #333;}
.calender .week li {float: left; padding: 12px 0 12px; width: 30px; text-align: center; font-size: 13px; color: #fff;}
.calender .title-month {padding: 11px 0 8px 18px; font-size: 14px; color: #5d5d5d;}
.calender .title-month .num {font-family: Gotham; font-weight: 700;}
.calender .tb-calender {margin-bottom: 8px;}
.calender .tb-calender td {position: relative; padding: 7px 0; text-align: center; font-family: Gotham; font-size: 12px; font-weight: 700; color: #b1b1b1;}
.calender .tb-calender td:first-child {padding-left: 10px;}
.calender .tb-calender td:first-child + td + td + td + td + td + td {padding-right: 10px;}
.calender .tb-calender td.today {color: #333; font-weight: 800;}
.calender .tb-calender td.get {text-indent: -999px; font-size: 0; line-height: 0;}
.calender .tb-calender td.get:after {content: ''; position: absolute; top: 2px; left: 2px; width: 25px; height: 25px; cursor: pointer; background: url(../img/sp_cookingbox.png) no-repeat 0 -85px;background-size:75px auto;}
.calender .tb-calender td.cancel {text-indent: -999px; font-size: 0; line-height: 0;}
.calender .tb-calender td.cancel:after {content: ''; z-index: 100; position: absolute; top: 2px; left: 2px; width: 25px; height: 25px; cursor: pointer; background: url(../img/sp_cookingbox.png) no-repeat -35px -85px;background-size:75px auto;}
.calender .tb-calender .thisweek td {background: #f3f3f3;}
.calender .check-info {margin-top:0; padding: 17px 0 18px; text-align: center; color: #5d5d5d; border-top: 1px solid #f1f1f1;}
.calender .check-info span:before {content: ''; display: inline-block; margin-right: 5px; width: 9px; height: 9px; border-radius: 50px;}
.calender .check-info .get:before {background: #ffaa00;}
.calender .check-info .cancel {padding-left: 20px;}
.calender .check-info .cancel:before {background: #acacac;}

.schedule-side {position: fixed; width: 230px;}
.schedule-side iframe {background: none; position: relative;}
.schedule-side .notice {width:230px;}
.schedule-side .notice h2 {margin-bottom: 8px; font-size: 13px; font-weight: 700; color: #333;}
.schedule-side .notice li {margin-bottom: 7px; color: #888;}
.schedule-side .notice li a {display: block; padding-left: 7px; color: #888;}
.schedule-side .notice li a:before {content: "·"; margin: 0 2px 0 -7px; font-size: 18px; vertical-align: middle; line-height: 17px;}

.title-plan {margin-bottom: 30px; padding-top: 1px; text-align: right;}
.title-plan span {display: inline-block; padding-bottom: 1px; font-size: 22px; font-weight: 400; border-bottom: 3px solid #464646;}
.title-plan span em {font-weight: 700;}

.schedule-list li {position: relative; margin-bottom: 20px; padding: 36px 395px 0 76px; height: 294px; border: 1px solid #dfdfdf; background: #fff;}
.schedule-list li:before {content: ''; position: absolute; top: 42px; left: 26px; width: 31px; height: 31px; background: url(../img/sp_cookingbox.png) no-repeat 0 -115px;background-size:75px auto;}
.schedule-list li .date {position: relative; margin-bottom: 16px; padding-bottom: 17px; font-size: 30px; font-weight: 500; letter-spacing: -1px; color: #333;}
.schedule-list li .date:after {content: ''; position: absolute; bottom: 0; left: 1px; width: 14px; height: 3px; background: #333;}
.schedule-list li .name {margin-bottom: 6px; font-size: 17px; font-weight: 700; color: #333;}
.schedule-list li .desc {font-size: 14px; line-height: 21px; color: #b1b1b1;}
.schedule-list li .date a {color:#333;}
.schedule-list li .name a {color:#333;}
.schedule-list li .desc a {color:#b1b1b1;}
.schedule-list li .desc a b, .schedule-list li .desc b {font-weight:400;}
.schedule-list li button {position: absolute; bottom: 41px; left: 77px; width: 108px; height: 48px; line-height: 48px; font-size: 14px; font-weight: 700; color: #888; border-radius: 2px; border: 1px solid #b1b1b1; background: #fdfcfc;}
.schedule-list li .tooltip-date {display: none; position: absolute; bottom: 40px; left: 197px; padding: 7px 0 0 21px; width: 148px; height: 49px; line-height: 18px; color: #888; box-sizing: border-box; background: url(../img/sp_cookingbox.png) no-repeat 0 -80px;}
.schedule-list li .tooltip-date strong {font-weight: 700; color: #333;}
.schedule-list li button:hover + .tooltip-date {display: block;}
.schedule-list li .photo {position: absolute; top: 0; right: 0;}
.schedule-list li .photo img {width: 330px; height: 330px;}
.schedule-list li.cancel {background: #f5f5f3;}
.schedule-list li.cancel:before {background-position:-35px -115px;}
.schedule-list li.cancel button {color: #fff; border-color: #ffaa00; background: #ffaa00;}
/*.schedule-list li.finish:before {left: 0; top: 0; background-position: -80px -36px;}*/
.schedule-list li.finish .photo .mask {position: absolute; top: 0; bottom: 0; left: 0; padding-top: 120px; width: 100%; text-align: center; font-size: 28px; line-height: 38px; font-weight: 400; color: #fff; -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); background: rgba(0, 0, 0, 0.4);}

.IE8 .schedule-list li.finish .photo .mask {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);}

.details {margin: 0 auto; width: 980px; min-width: auto;}
.details .info {overflow: hidden; padding-bottom: 50px; border-bottom: 1px solid #e5e5e5;}
.details .info .photo {float: left; width: 500px;}
.details .info .photo .view {margin-bottom: 4px;}
.details .info .photo .view img {width: 500px; height: 320px;}
.details .info .photo .thumb li {float: left; margin-left: 4px;}
.details .info .photo .thumb li img {width: 97px; height: 68px; cursor: pointer;}
.details .info .photo .thumb li:first-child {margin-left: 0;}
.details .info .photo .thumb li:first-child img {width: 96px;}
.details .info .basic-info {position: relative; float: right; width: 430px; min-height: 392px; color: #333;}
.details .info .basic-info .stit {margin-bottom: 5px; font-size: 14px;}
.details .info .basic-info .product-name {margin-bottom: 18px; font-size: 30px; font-weight: 700;}
.details .info .basic-info .desc {margin-bottom: 20px; font-size: 14px; line-height: 25px;}
.details .info .basic-info .info-bottom {position: absolute; bottom: 0; left: 0; width: 100%;}
.details .info .basic-info .spec {overflow: hidden; border: 1px solid #e5e5e5;}
.details .info .basic-info .spec li {position: relative; float: left; padding: 21px 0 18px; width: 33.333%; text-align: center; font-size: 13px; color: #888; font-weight:500;}
.details .info .basic-info .spec li:before {content: ''; display: inline-block; margin: -3px 5px 0 0; vertical-align: middle; width: 18px; height: 18px; background: url(../img/sp_cookingbox.png) no-repeat;}
.details .info .basic-info .spec li:after {content: ''; position: absolute; top: 19px; left: 0; width: 1px; height: 18px; background: #d9d9d9;}
.details .info .basic-info .spec li.members:before {background-position: 0 -140px;}
.details .info .basic-info .spec li.time:before {background-position: -30px -140px;}
.details .info .basic-info .spec li.level:before {background-position: -60px -140px;}
.details .info .basic-info .spec li:first-child:after {display: none;}
.details .info .basic-info .link-recipe {display: block; padding: 20px 0 19px; text-align: center; font-size: 14px; font-weight: 500; color: #333; border: 1px solid #e5e5e5; border-top: none;}
.details .info .basic-info .link-recipe:after {content: ''; display: inline-block; margin: -3px 0 0 5px; vertical-align: middle; width: 19px; height: 18px; background: url(../img/sp_cookingbox.png) no-repeat -90px -140px;}
/* [e]cookingbox */

/* [s]subscription */
.subscription-step {overflow: hidden; margin: -51px 0 28px; min-width: 1070px; text-align: center; background: #66635c;}
.subscription-step li {display: inline-block; padding: 26px 0; width: 267px; font-size: 18px; font-weight: 500; color: #94928d; background: url(../img/step-arrow.png) no-repeat 0 50%;}
.subscription-step li.current {color: #fff;}
.subscription-step li:first-child {width: 240px; background: none;}
.subscription {margin: 0 auto; padding: 0 125px 100px 125px; width: 820px; min-width: auto;}
.subscription .banner {margin-bottom: 38px; text-align: center;}
.subscription .banner img {width:820px;}
.subscription .banner-st03 {margin: 21px 0 29px; padding-right: 3px; text-align: center;}

.form-wrap.subscription-charge {padding: 0 0 19px;}
.form-wrap.subscription-charge th {padding: 15px 0 0 29px; font-size: 13px; font-weight: 500; color: #888;}
.form-wrap.subscription-charge td {padding: 15px 0 9px; font-size: 13px; font-weight: 700; color: #333;}
.form-wrap.subscription-charge tr:first-child th {padding-top: 29px;}
.form-wrap.subscription-charge tr:first-child td {padding: 28px 0 8px;}
.form-wrap.subscription-charge .price-area {padding: 0 30px 0 0 !important; text-align: right; font-size: 14px; background: #f8f8f8;}
.form-wrap.subscription-charge .price-area .price {padding-top: 4px; font-size: 14px; font-weight: 700; color: #ffaa00;}
.form-wrap.subscription-charge .price-area .price span {font-size: 30px;}
.form-wrap.subscription-charge tr.temporarily-last td {padding-bottom: 28px;}
.form-wrap.subscription-charge label {padding-left: 5px;}
.form-wrap.subscription-charge .check-area {padding: 12px 0 10px 30px; font-size: 12px; font-weight: 400; color: #5d5d5d; border-top: 1px solid #e1e1e1;}
.form-wrap.subscription-charge .check-area p {margin-top: 20px;}

.subscription-completed {margin: 0 auto 35px; padding: 32px 40px 24px; width: 562px; border: 6px solid #efefef;}
.subscription-completed h3 {margin: 29px 0 10px; font-size: 15px; font-weight: 700; color: #333;}
.subscription-completed h3:first-child {margin-top: 0;}
.subscription-completed table {font-size: 13px; line-height: 22px;}
.subscription-completed table th {padding: 3px 0 3px; vertical-align: top; color: #888;}
.subscription-completed table td {padding: 3px 0 3px; vertical-align: top; color: #333;}
.subscription-completed .date {display: inline-block; width: 83px; font-weight: 500; color: #ffa600;}
.subscription-completed .date strong {font-weight: 700;}
.subscription-completed .desc {margin-top: 2px; color: #ffa600;}

/* [e]subscription */

/* [s]mypage */
.member-box {margin-bottom: 33px;padding: 27px 0 30px;font-size: 13px;color: #949494;border-bottom: 1px solid #ddd;}
.member-box .name { margin-bottom: 2px;}
.member-box .name strong {font-size: 14px;font-weight: 700;color: #222;}
.member-box dl { overflow: hidden;}
.member-box dl dt {clear: left;float: left;margin-top: 15px;width: 70px;}
.member-box dl dd {float: left;margin-top: 15px;padding-right: 2px;width: 88px;text-align: right;font-size: 12px;}
.member-box dl .level {font-weight: 700;color: #222;}
.member-box dl .price {padding-top: 3px;font-size: 12px;font-family: 'Montserrat', sans-serif;font-weight: 700;color: #ffa600;}

.txt-ing {font-weight: 700;color: #ffa600;}
.txt-pause {font-weight: 700;color: #d21e1e;}
.txt-cancel {font-weight: 700;color: #b1b1b1;}
.txt-finish {color: #222;}
.td-txt input {margin: 0 5px 0 10px;}
.td-txt .desc-s {padding: 2px 0 10px;font-weight: 400;}
.td-txt .desc-s a { color: #333;  text-decoration: underline;}

#pwdManual {z-index: 1000;display: none;position: absolute;margin: 0 0 0 230px;width: 350px;border: 6px solid #dfdfdf;background: #fff;}
#pwdManual p { margin: -5px 0 0 0;  padding: 0px 30px 10px 30px;  color: #333;  font-size: 14px;  line-height: 21px;  font-weight: bold;}
#pwdManual .close { margin: 10px 10px 0 0;  padding: 0;  text-align: right;}
#pwdManual ul { padding: 0px 30px 30px 30px;  color: #999;}
#pwdManual ul li {color: #999;font-size: 11px;line-height: 17px;}

.pop-changeweek {display: none;position: fixed;top: 50%;left: 50%;margin: -105px 0 0 -150px;width: 299px;height: 211px;text-align: center;font-size: 14px;line-height: 22px;color: #5d5d5d;border: 1px solid #ffaa00;background: #fff;}
.pop-changeweek p { margin: 56px 0 23px;}
.pop-changeweek p strong {font-weight: 700;}
.pop-changeweek .btn-primary {padding: 12px 0 14px; width: 160px;  /* height: 50px;  line-height: 50px; */  font-size: 15px;}
.pop-changeweek .btn-close { position: absolute;  top: 20px;  right: 21px;  width: 20px;  height: 20px;  font-size: 0;  line-height: 0;  background: url(../img/btn_close.png) no-repeat 0 0;}

.order-detail .tb-list {margin-bottom: 49px;}
.order-detail .tb-list .left { padding: 21px 0 22px 30px;  font-weight: 700;}
.order-detail .tb-list img { margin-right: 30px;  width: 80px;  height: 50px;  vertical-align: middle;}

.order-detail-box {margin-bottom: 30px;padding: 24px 40px 21px;border: 1px solid #ddd;}
.order-detail-box h5 { margin: 5px 0  12px;  font-size: 14px;  font-weight: 700;  color: #222;}
.order-detail-box table { font-size: 13px;  color: #666;}
.order-detail-box table th {padding: 6px 0;}
.order-detail-box table td {padding: 6px 0;}
.order-detail-box table a {color: #222;border-bottom: 1px solid #222;}

.order-detail-subtxt {margin-bottom: 22px;padding-top: 5px;text-align: center;font-size: 13px;color: #666;}
.order-detail-subtxt a { font-weight: 500;  text-decoration: underline;}

/* [e]mypage */



/* layer popup */
.popup-ty1 {position: fixed; top: 50%; left: 50%;border:1px solid #ffaa00;background:#fff;}
.popup-ty1 .btn-cls {position:absolute;top:20px;right:21px;width:20px;height:20px;font-size:0;line-height:0;text-indent:-999px;background:url(../img/btn_close.png) no-repeat 0 0;}
.popup-ty1 .btn-primary {display:inline-block;padding: 12px 0 14px;/* height:50px;line-height:50px;  */font-size:15px;color:#fff;}

.pop-loglink {display:none;margin-top:-116px;margin-left:-160px;padding:66px 0 50px;width:319px;text-align:center;}
.pop-loglink .con-txt {margin-bottom:21px;font-size:14px;line-height:22px;color:#5d5d5d;}
.pop-loglink .btn-primary {width:140px;}
